{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
 */
#}
<a href="{{link.url}}" class="descargas default-text col-xs-6 col-sm-4 col-md-3" target="_blank">
      <span class="descargas-icon-img col-xs-2 col-sm-3">
        {% set file = '' %}
        {% if 'file' in icon['#attributes']['class'][2] %}
          {% set file = 'pdf' %}
        {% elseif 'picture' in icon['#attributes']['class'][2] %}
          {% set file = 'img' %}
        {% endif %}
        <img src="/sites/default/files/2017-11/ico_{{file}}_descargas.png" alt="{% trans %}Icono descargas{% endtrans %}">

      </span>
      <p class="descargas-text col-xs-10 col-sm-9">
        <span class="descarga-name">{{link.text}}</span>
        <br />
        <span class="descarga-weight">({{file|upper}}, {{ file_size }})</span>
      </p>
</a>
